.ssh/
.surf/
.npm/
.dbus/
.cache/
.gnupg/
.librewolf/
Downloads/
Documents/

.config/dconf/
.config/gnupg/
.config/nvim/autoload/
.config/nvim/plugged/

.local/src/
.local/state/
.local/share/lf/
.local/share/go/
.local/share/nvim/
.local/share/xorg/
.local/share/gnupg/
.local/share/cargo/
.local/share/lyrics/
.local/share/zathura/

.local/share/*.xbel
.config/pulse/cookie
.local/share/history
.config/zsh/.zcompdump

!Documents/Pictures/keep.png

*.log
*.mp3
*.o

.Xauthority
.gitconfig
