.cache/
.librewolf/
.ssh/

.config/dconf/
.config/gnupg/

.config/nvim/autoload/
.config/nvim/plugged/
.config/nvim/shortcuts.vim

.config/lf/shortcutrc

.config/shell/shortcutrc
.config/shell/zshnameddirrc

/.local/src/
/.local/state/
/.local/share/*/
!/.local/share/applications/
!/.local/share/larbs/
!/.local/share/wallpapers/
.local/share/*.xbel
.config/pulse/cookie
.local/share/history
.config/zsh/.zcompdump

*.log
*.mp3
*.o
.Xauthority

Downloads/
